set noconvert
set multibuffer
set casesensitive

set autoindent
set tabstospaces
set tabsize 4

set nohelp
set emptyline
set linenumbers
set titlecolor normal

bind ^q "{exit}" main
bind ^x "{cut}" main
bind ^c "{copy}" main
bind ^v "{paste}" main
bind ^z "{undo}" main
bind ^y "{redo}" main
bind ^e "{execute}" main
bind ^d "{copy}{paste}{up}" main
bind ^h "{cut}{up}{paste}{up}" main
bind ^l "{cut}{down}{paste}{up}" main
bind ^Space "{complete}" main
bind M-/ "{comment}" main

include "~/.nanotc/c.nanorc"
include "~/.nanotc/d.nanorc"

# set mouse
