set noconvert
set multibuffer
set casesensitive

set autoindent
set tabstospaces
set tabsize 4

set nohelp
set emptyline
set titlecolor normal
#set linenumbers

bind ^q "{exit}" main
bind ^x "{cut}" main
bind ^c "{copy}" main
bind ^v "{paste}" main
bind ^z "{undo}" main
bind ^y "{redo}" main
bind ^e "{execute}" main
bind ^Space "{complete}" main

bind ^d "{copy}{paste}{up}" main
bind M-a "{cut}{up}{paste}{up}" main
bind M-d "{cut}{down}{paste}{up}" main
bind M-/ "{comment}" main

include "~/.nanotc/c.nanorc"
include "~/.nanotc/d.nanorc"
include "~/.nanotc/rin.nanorc"
include "~/.nanotc/zc.nanorc"

